<div class="container">
  <h1 class="text-center">Teachers</h1>

  <div *ngIf="teacher.length > 0; else noStudents">
    <div class="table-responsive">
      <table class="table table-bordered table-striped">
        <thead>
          <tr>
            <th>Photo</th>
            <th>Name</th>
            <th>Email</th>
            <th>Username</th>
            <th>Phone</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let s of teacher">
            <td>
              <img
                [src]="s.profilePic"
                alt="Profile Photo"
                width="50"
                height="50"
                class="rounded-circle"
              />
            </td>
            <td>{{ s.firstName }} {{ s.lastName }}</td>
            <td>{{ s.email }}</td>
            <td>{{ s.username }}</td>
            <td>{{ s.phone }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <ng-template #noStudents>
    <div class="alert alert-danger text-center">
      <p>No teachers found</p>
    </div>
  </ng-template>
</div>
