<mat-toolbar color="primary">
  <a routerLink="/" class="text-decoration-none text-white">
    <span>Academia</span>
  </a>

  <span class="example-spacer"></span>

  <a routerLink="/login" *ngIf="!isLoggedIn">
    <button mat-raised-button class="me-2" color="accent">Login</button></a
  >

  <div class="d-flex" *ngIf="isLoggedIn && login.loginStatusSubject">
    <p *ngIf="user" routerLink="/admin/profile" class="me-3 mt-2">
      {{ user.username }}
    </p>

    <button (click)="logout()" mat-raised-button color="accent">Logout</button>
  </div>
</mat-toolbar>
