<h1>Add new Study Material</h1>
<mat-card class="mt-3">
  <div class="container mt-2">
    <form action="">
      <!-- <mat-form-field class="w-100" appearance="outline">
          <mat-label>Lesson id</mat-label>
          <input
            required
            autofocus
            type="text"
            name="title"
            matInput
            placeholder="Enter LEsson Id"
            [(ngModel)]="lessonId"
          />
        </mat-form-field> -->
      <mat-form-field class="w-100" appearance="outline">
        <mat-label>Descrtiption</mat-label>
        <input
          required
          autofocus
          type="text"
          name="description"
          matInput
          placeholder="Enter Description"
          [(ngModel)]="description"
        />
      </mat-form-field>

      <input
        (change)="onChangeFileField($event)"
        accept=".pdf,.doc,.docx"
        class="mb-2 form-control"
        name="studyFile"
        type="file"
      />
      <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>
      <div class="container text-center mt-3 mb-4">
        <button mat-raised-button color="primary" (click)="formsubmit()">
          ADD
        </button>
      </div>
    </form>
  </div>
</mat-card>
