<div class="container">
  <div class="row mt-3">
    <div class="col-md-8 offset-md-2">
      <div class="card">
        <div class="card-header">Welcome Admin!</div>
        <div class="card-body">
          <p>
            Welcome to the Admin Dashboard. As an admin, you have access to
            various features and functionalities that allow you to manage users,
            courses, and quizzes. Here's what you can do:
          </p>
          <ul>
            <li>Register new students and teachers.</li>
            <li>Enroll teachers in courses.</li>
            <li>Create new courses.</li>
            <li>Create quizzes for courses.</li>
          </ul>
          <p>
            Use the navigation menu on the left to access different sections of
            the admin dashboard and perform these actions. If you have any
            questions or need assistance, feel free to reach out to our support
            team.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
