<mat-card>
  <mat-action-list>
    <button mat-list-item mat-list-item routerLink="/student/">
      <mat-icon
        aria-hidden="false"
        aria-label="Example home icon"
        fontIcon="home"
      ></mat-icon>
      Home
    </button>
    <button mat-list-item routerLink="/student/profile">
      <mat-icon
        aria-hidden="false"
        aria-label="Example home icon"
        fontIcon="account_circle"
      ></mat-icon>
      Profile
    </button>
  </mat-action-list>
</mat-card>
