<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <mat-card class="p-2">
        <div class="container text-center">
          <img src="../../../assets/logo.png" alt="" srcset="" />
        </div>
        <h1 class="text-center">Login Here</h1>
        <form action="">
          <!-- username field -->
          <mat-form-field class="w-100" appearance="outline">
            <mat-label>Username</mat-label>

            <input
              required
              name="username"
              matInput
              placeholder="Placeholder"
            />
            <mat-hint>Valid username</mat-hint>
          </mat-form-field>

          <!-- password -->
          <mat-form-field class="w-100" appearance="outline">
            <mat-label>Password</mat-label>
            <input
              required
              name="password"
              type="password"
              matInput
              placeholder="Placeholder"
            />
          </mat-form-field>
          <div class="container text-center">
            <button mat-raised-button color="primary" type="submit">
              Login
            </button>
            <button mat-raised-button color="accent" class="ms-2" type="submit">
              Reset
            </button>
          </div>
        </form>
      </mat-card>
    </div>
  </div>
</div>
