<h1>Enrolled courses</h1>

@for(c of categories;track 1 ){
<mat-card class="mt-3">
  <mat-list>
    <mat-list-item class="">
      <div mat-line class="mt-2">
        <mat-icon mat-list-icon>category</mat-icon>{{ c.title }}
        <div class="mb-2" mat-line>{{ c.description }}</div>
      </div>
    </mat-list-item>

    <button
      mat-raised-button
      class="mt-2 ms-2"
      [routerLink]="'/student/' + c.cid"
    >
      Show quizzes
    </button>
    <button
      mat-raised-button
      class="mt-2 ms-2"
      [routerLink]="'/student/lesson/' + c.cid"
    >
      Show Lessons
    </button>
  </mat-list>
</mat-card>
}@empty {
<div>No Categories found</div>

}
