<div class="container col-md-8 p-2">
  <h1 class="text-center">Enroll Teachers in Course</h1>
  <form action="">
    <mat-form-field class="mt-3 w-50">
      <mat-label>Course</mat-label>

      <mat-select name="category" [(ngModel)]="categoryId">
        @for (c of categories; track 1) {
        <mat-option [value]="c.cid">{{ c.title }}</mat-option>
        }@empty {
        <div>No Course found</div>

        }
      </mat-select>
    </mat-form-field>
    <mat-form-field class="mt-3 w-50 ps-2">
      <mat-label>Teachers</mat-label>

      <mat-select name="student" [(ngModel)]="userId">
        @for (s of teacher; track teacher) {
        <mat-option [value]="s.id"
          >{{ s.firstName }} {{ s.lastName }}</mat-option
        >
        }@empty {
        <div>No Teachres found</div>

        }
      </mat-select>
    </mat-form-field>
    <button
      mat-raised-button
      type="submit"
      [disabled]="!userId || !categoryId"
      (click)="enrollUser()"
    >
      Enroll
    </button>
  </form>
</div>

<div>
  <div>
    <label for="category">Select Category:</label>

    <form action="">
      <mat-form-field class="mt-3 w-50">
        <mat-label>Category</mat-label>

        <mat-select name="categoryfilter" [(ngModel)]="categoryName">
          @for (d of categories; track 1) {
          <mat-option [value]="d.title">{{ d.title }}</mat-option>
          }@empty {
          <div>No Course found</div>

          }
        </mat-select>
      </mat-form-field>
      <br />
      <button mat-raised-button type="submit" (click)="showTeachers()">
        Show Students
      </button>
    </form>
  </div>
</div>
<div *ngIf="teachers.length > 0">
  <div class="table-responsive mt-3">
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th>Username</th>
          <th>First Name</th>
          <th>Last Name</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let student of teachers">
          <td>{{ student.username }}</td>
          <td>{{ student.firstName }}</td>
          <td>{{ student.lastName }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div *ngIf="teachers.length === 0">No students Students in this category.</div>
