@for(l of lessons;track lessons ){
<mat-card class="p-2 mt-2 ms-2 me-2">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>{{ l.title }}</mat-card-title>
    <mat-card-subtitle>{{ l.category.title }}</mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <p>{{ l.description }}</p>
  </mat-card-content>
  <mat-card-actions>
    <button
      mat-raised-button
      color="primary"
      [routerLink]="'/teacher/view-studyMaterial/' + l.lid + '/' + l.title"
    >
      Study Material
    </button>
    <!-- <button
      mat-flat-button
      color="primary"
      [routerLink]="'/teacher/lesson/' + l.lid"
      class="ms-2"
    >
      Update
    </button> -->
    <button
      mat-flat-button
      color="warn"
      class="ms-2"
      (click)="deleteQuiz(l.lid)"
    >
      Delete
    </button>
  </mat-card-actions>
</mat-card>
}@empty {
<div>No Lessons found</div>
}
<div class="container text-center mt-3">
  <button routerLink="/teacher/add-lesson" mat-raised-button color="primary">
    Add New Lesson
  </button>
</div>
