<mat-card>
  <mat-action-list>
    <div mat-subheader>Menu</div>
    <button mat-list-item mat-list-item routerLink="/admin">
      <mat-icon
        aria-hidden="false"
        aria-label="Example home icon"
        fontIcon="home"
      ></mat-icon>
      Home
    </button>

    <button mat-list-item routerLink="/admin/profile">
      <mat-icon
        aria-hidden="false"
        aria-label="Example home icon"
        fontIcon="account_circle"
      ></mat-icon>
      Profile
    </button>
    <button mat-list-item routerLink="/admin/categories">
      <mat-icon
        aria-hidden="false"
        aria-label="Example home icon"
        fontIcon="account_circle"
      ></mat-icon>
      Categories
    </button>

    <button mat-list-item routerLink="/admin/enrollStudents">
      <mat-icon
        aria-hidden="false"
        aria-label="Example home icon"
        fontIcon="account_circle"
      ></mat-icon>
      Enroll Students
    </button>
    <button mat-list-item routerLink="/admin/enrollTeachers">
      <mat-icon
        aria-hidden="false"
        aria-label="Example home icon"
        fontIcon="account_circle"
      ></mat-icon>
      Enroll Teachers
    </button>
    <!-- <button mat-list-item routerLink="/admin/add-category">
      <mat-icon
        aria-hidden="false"
        aria-label="Example home icon"
        fontIcon="account_circle"
      ></mat-icon>
      Add Categories
    </button> -->
    <button mat-list-item routerLink="/admin/quizzes">
      <i class="bi bi-0-circle-fill"></i>
      Quizzes
    </button>
    <button mat-list-item routerLink="/admin/lessons">
      <i class="bi bi-0-circle-fill"></i>
      Lessons
    </button>
    <button mat-list-item routerLink="/admin/students">
      <i class="bi bi-0-circle-fill"></i>
      Students
    </button>
    <button mat-list-item routerLink="/admin/teachers">
      <i class="bi bi-0-circle-fill"></i>
      Teachers
    </button>
    <!-- <button mat-list-item routerLink="/admin/add-quiz">
      <i class="bi bi-0-circle-fill"></i>
      Add Quizzes
    </button> -->
    <!-- <button mat-list-item routerLink="/admin/add-lesson">
      <i class="bi bi-0-circle-fill"></i>
      Add Lesson
    </button>
    <button mat-list-item routerLink="/admin/add-studyMaterial">
      <i class="bi bi-0-circle-fill"></i>
      Add Study Material
    </button>
    <button mat-list-item routerLink="/admin/profile">
      <i class="bi bi-0-circle-fill"></i>
      Logout
    </button> -->
  </mat-action-list>
</mat-card>
