<h3>Lesson : {{ title }}</h3>

@for(s of studyMaterial;track 1){
<mat-card class="p-2 mt-2 ms-2 me-2">
  <mat-card-content>
    <p>Description: {{ s.description }}</p>
    <p>File Name: {{ s.title }}</p>
    <mat-card-actions>
      <button
        mat-flat-button
        color="warn"
        class="ms-2"
        (click)="deleteStudy(s.id)"
      >
        Delete
      </button>
    </mat-card-actions>
  </mat-card-content>
</mat-card>
}@empty {
<div class="text-danger">No Study material found found</div>
}
<div class="container text-center mt-3">
  <button mat-list-item [routerLink]="'/admin/add-studyMaterial/' + lid">
    Add Study Material
  </button>
</div>
