<h1>All Courses</h1>
<mat-list>
  @for(c of categories;track 1 ){
  <mat-card class="mt-4">
    <mat-list-item class="">
      <div mat-line class="mt-2">
        <mat-icon mat-list-icon>category</mat-icon>{{ c.title }}
        <div class="mb-2" mat-line>{{ c.description }}</div>
      </div>
    </mat-list-item>
    <button
      mat-flat-button
      color="primary"
      [routerLink]="'/admin/categories/' + c.cid"
      class="mt-2 w-20"
    >
      Update
    </button>
    <mat-divider></mat-divider>
  </mat-card>
  }@empty {
  <div>No Courses found</div>

  }
</mat-list>

<div class="container text-center m-2">
  <button routerLink="/admin/add-category" mat-raised-button color="primary">
    Add New Course
  </button>
</div>
